<div id="draft" ng-show="activated && user.loggedIn" layout="column" flex>
  <div id="draftChoice" ng-show="game_data.userChoice === game_data.currentChoice">
    <form name="userForm" layout="column" ng-submit="submit()">
      <h2>Please select your draft pick</h2>
      <md-input-container>
        <label>Draft Pick</label>
        <md-select name="choice" ng-model="choice_input" required>
          <span ng-repeat="drafter in game_data.currentDraft track by $index">
            <md-option value="{{$index + 1}}" ng-disabled="drafter">
              {{$index + 1}}
            </md-option>
          </span>
        </md-select>
        <!-- <div ng-messages="userForm.choice.$error">
          <div ng-message="required">This is required.</div>
        </div> -->
      </md-input-container>
      <div>
        <md-button type="submit" ng-disabled="submitting || game_data.userChoice !== game_data.currentChoice" ng-hide="submitting">Submit</md-button>
        <md-progress-circular class="md-accent" ng-show="submitting" md-diameter="20"></md-progress-circular>
      </div>
    </form>
  </div>
  <h2 ng-show="game_data.userChoice && game_data.userChoice > game_data.currentChoice">You will be #{{game_data.userChoice}} to select your draft pick</h2>
  <h2 ng-hide="game_data.userChoice" style="color:red;">You have not yet completed the requirements to choose your draft pick!</h2>
  <md-list ng-cloak>
  <md-subheader class="md-no-sticky">Current Draft</md-subheader>
  <md-divider></md-divider>
    <span ng-repeat="drafter in game_data.currentDraft track by $index">
      <md-list-item>
        <h2>{{$index + 1}}</h2>
        <span ng-if="drafter" layout="row" style="align-items: center;">
          <img class="draft_icon" ng-src="{{$parent.players[drafter].team_logo}}" />
          <div class="md-list-item-text">
            <h3> {{$parent.players[drafter].team_name}} </h3>
          </div>
        </span>
      </md-list-item>
      <md-divider></md-divider>
    </span>
  </md-list>
</div>