<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Chamberlain League</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="shortcut icon" type="image/png" href="img/favicon.ico" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../vendor/angular-material/angular-material.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="leagueApp" ng-controller="AppCtrl" ng-cloak layout="column">
    <section layout="column" flex>
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
            <md-icon>menu</md-icon>
          </md-button>
          <h2>
            <span>Chamberlain League</span>
          </h2>
          <span flex></span>
          <section layout="row">
            <section layout="column">
              <span flex></span>
              <div id="toolbarTeamIcon" ng-style="{'background-image': 'url('+user.team_logo+')'}"></div>
              <span flex></span>
            </section>
            <h4>
              <span>{{user.team_name}}</span>
            </h4>
          </section>
        </div>
      </md-toolbar>
      <md-content layout="column" flex>
        <div id="progress" class="overlay" ng-hide="activated" layout="column">
          <span flex></span>
          <md-progress-circular class="md-accent" md-diameter="96"></md-progress-circular>
          <span flex></span>
        </div>
        <div id="login" class="overlay" ng-show="activated && !user.loggedIn" layout="column">
          <span flex></span>
          <div style="margin:auto;">
            <md-button class="md-primary" go-click="/login">
              LOGIN
            </md-button>
          </div>
          <span flex></span>
        </div>
        <div id="survivor" ng-show="activated && user.loggedIn" layout="column" flex>
          <div id="dataHeader">
            <form ng-show="game_data.selected_player" ng-submit="submit()">
              <h2>Current Survivor</h2>
              <span layout="row" style="align-items: center;">
                <h3>{{game_data.selected_player.display_position}}</h3>
                <img class="player_icon" ng-src="{{game_data.selected_player.headshot.url}}" />
                <h4>{{game_data.selected_player.name.full}}, {{game_data.selected_player.editorial_team_full_name}}</h4>
              </span>
              <div>
                <md-button type="submit" ng-disabled="submitting || !choice_input" ng-hide="submitting">Submit</md-button>
                <md-progress-circular class="md-accent" ng-show="submitting" md-diameter="20"></md-progress-circular>
              </div>
            </form>
            <h2 ng-hide="game_data.selected_player" style="color:red;">Please select your survivor for this week</h2>
          </div>
          <md-list ng-cloak>
            <md-subheader class="md-no-sticky">Your Eligible Roster</md-subheader>
            <md-divider></md-divider>
              <span ng-repeat="player in game_data.roster">
                <md-list-item>
                  <div class="player_select" ng-click="selectPlayer(player)"></div>
                  <h2>{{player.display_position}}</h2>
                  <span layout="row" style="align-items: center;">
                    <img class="player_icon" ng-src="{{player.headshot.url}}" />
                    <div class="md-list-item-text">
                      <h3>{{player.name.full}} - <i>{{player.editorial_team_abbr}}</i></h3>
                    </div>
                  </span>
                </md-list-item>
                <md-divider></md-divider>
              </span>
            </md-list>
        </div>
      </md-content>
    </section>
    <section layout="row" flex>
      <md-sidenav
          class="md-sidenav-left"
          md-component-id="left"
          md-whiteframe="4">
        <md-content layout-padding>
          <md-list ng-cloak>
            <md-list-item ng-click="console.log('logout')" ng-show="user.loggedIn" go-click="/logout">
              LOGOUT
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
    </section>


    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/angular-animate/angular-animate.js"></script>
    <script src="../vendor/angular-aria/angular-aria.js"></script>
    <script src="../vendor/angular-material/angular-material.min.js"></script>

    <script src="../scripts/app.js"></script>

  </body>
</html>